.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(13px);
    @include tablets {
        width: 100%;
    }
}

.logo {
    margin-right: rem(70px);
    @include tablets {
        margin-left: rem(30px);
        margin-right: 0;
    }
}

.logo__pic {
    width: rem(90px);
    height: rem(70px);
}

.header__buttons {
    display: flex;
    align-items: center;
    @include tablets {
        margin-right: rem(30px);
    }
}

.hero__container {
    display: flex;
}