.order {
    background: url(../img/form-bg.jpg) center center no-repeat;
    background-size: cover;
    display: flex;
}

.form {
    font-family: "Ubuntu";
    font-size: rem(14px);
    line-height: rem(24px);
    color: #fff;
    font-weight: lighter;
}

.form__order {
    display: flex;
    @include tablets {
        flex-direction: column;
        align-items: center;
        padding: 0 15%;
    }

    @include phones {
        padding: 0 5%;
    }
}

.form__left, .form__right {
    width: 50%;
    @include tablets {
        width: 100%;
    }
}



input[type="text"], textarea {
    border-radius: rem(5px);
    outline: none;
    border-width: rem(1px);
    border-style: solid;
    text-indent: rem(20px);
    border-color: transparent;
    &:focus {
        border-color: $yellow;
    }
}

input[type="text"] {
    height: rem(35px);
}

.form__row {
    display: flex;
    margin-bottom: rem(13px);
    @include phones {
        justify-content: center;
    }
    &--button {
        @include tablets {
            margin-bottom: 0;
        }
    }
}


.form__block {
    flex: 1;
    margin-right: rem(20px);
    @include tablets {
        &:last-child {
            margin-right: 0;
        }
    }
    span {
        display: block;
    }
}

.form__input {
    width: 100%;
}

.form__block-area, .form__area {
    width: 100%;
    span{
        display: block;
    }
}

.form__area {
    height: rem(109px);
    resize: none;
    @include tablets {
        padding: 0;
    }
}

.form__buttons {
    span {
        display: block;
    }
}

.form__buttons-submit {
    @include button;
}

.form__button-reset {
    background-color: transparent;
    border: none;
    font-family: "Ubuntu";
    font-weight: lighter;
    font-size: rem(14px);
    line-height: rem(30px);
    color: #fff;
    outline: none;
    padding: rem(4px) rem(15px);
    cursor: pointer;
}

.form__radio-box,
.form__checkbox-box {
    display: inline-block;
    z-index: -1;
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
}

.form__radio-text {
    display: block;
    position: relative;
    margin-left: rem(25px);
    margin-right: rem(20px);
    cursor: pointer;
    &::before {
        content: '';
        position: absolute;
        top: rem(4px);
        left: rem(-25px);
        width: rem(15px);
        height: rem(15px);
        border-radius: 50%;
        background: #FFF;
    }
    &::after {
        content: '';
        position: absolute;
        top: rem(8px);
        left: rem(-21px);
        width: rem(7px);
        height: rem(7px);
        border-radius: 50%;
        background: $orange;
        opacity: 0;
        transition: .5s;
    }
}

.form__radio-box:checked + .form__radio-text:after {
    opacity: 1;
}

.form__checkbox-text {
    display: block;
    position: relative; 
    cursor: pointer;
    margin-left: rem(25px);
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: rem(4px);
        left: rem(-25px);
        width: rem(15px);
        height: rem(15px);
        background-color: #fff;
    }
    &::after{
        content: "";
        display: block;
        position: absolute;
        top: rem(5px);
        left: rem(-20px);
        width: 3px;
        height: 7px;
        border: solid #fff;
        z-index: 1;
        border-width: rem(0px) rem(3px) rem(3px) 0;
        transform: rotate(45deg);
        transition: .5s;
    }
}

.form__checkbox-box:checked + .form__checkbox-text:after {
    border-color: $orange;
}


.form__right {
    .form__row {
        @include phones {
            justify-content: center;
        }
    }
}


.order__lay {
    background-color: #fff;
    border-radius: rem(5px);
    width: rem(196px);
    height: rem(106px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    // display: flex;
    display: none;
}

  
.order__wrap {
    display: flex;
    // margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: rem(422px);
    text-align: center;
    // height: rem(200px);
}

.order__text {
    font-family: 'Ubuntu';
    font-weight: lighter;
    font-size: rem(14px);
    line-height: rem(24px);
    margin-bottom: rem(10px);

}
